.carousel{
    position: relative;
    height: 500px;
    width: 98%;
    margin: 0 auto;
    order: 0;
}

.carousel_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel_track_container{
    background: lightgreen;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel_track{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 350ms ease-in;
}

.carousel_slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.carousel_button{
    background: rgba(0,0,0,0);
    color: rgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    width: 40px;
    height:150px;
    font-size: 1in;
    transform: translateY(-50%);
    align-content: center;
    border: none;
    cursor: pointer;
}

.current-slide{
    z-index: 0;
}
.carousel_button:hover{
    color: rgba(255,255,255,0.5);
}

.carousel_button--right{
    right: 0px;
}

.carousel_nav{
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    display: flex;
    padding: 10px 0;
}

.carousel_indicator{
    border: 0;
    border-radius: 50%;
    width: 15px;
    height:15px;
    background: rgba(0,0,0,0.5);
    margin: 0px 12px;
    cursor: pointer;
}

.carousel_indicator:hover{
    background: rgba(180,180,180,0.5);
}

.carousel_indicator.current-slide{
    background: rgba(0,0,0,0.85);
}